{{>partials/header}}
        <main>
            <div>
                <div class="bg-[url('/images/{{banner.background}}.jpg')] bg-cover bg-center w-auto h-60 flex justify-center
                items-center">
                </div>

                <div>
                    <h2 class="text-center my-6 text-blue-900 text-[18px] font-bold">Página não encontrada</h2>
                </div>
            </div>
        </main>
    </div>
</body>
</html>