<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/output.css" rel="stylesheet">
</head>
<body>
    <div class="p-0 m-0">
        <header class="flex flex-col items-center">
            <a class="text-3xl font-semibold text-blue-900 my-2" href="/">PetDevShop</a>
            <form method="get" action="/search">
                <input class="border-gray-400 border-1 mb-2 p-2" type="search" name="" id="" placeholder="Pesquise por raça">
            </form>
            <nav class="bg-blue-900 w-full h-12 flex items-center justify-around">
                <ul class="flex gap-10 items-center text-white">
                    <li class="hover:bg-blue-950 px-1 hover:rounded-2xl"><a href="/">Todos</a></li>
                    <li class="hover:bg-blue-950 px-1 hover:rounded-2xl"><a href="/cachorros">Cachorros</a></li>
                    <li class="hover:bg-blue-950 px-1 hover:rounded-2xl"><a href="/gatos">Gatos</a></li>
                    <li class="hover:bg-blue-950 px-1 hover:rounded-2xl"><a href="/peixes">Peixes</a></li>
                </ul>
            </nav>
        </header>